<div *ngIf="items">
  <mat-list>
    <mat-list-item *ngFor="let item of items">
      <div mat-line class="value">
        {{ item.value | currency: 'BRL':'R$ ':'1.2-2' }}
      </div>
      <div mat-line class="consolidatedType">{{ item.conlidatedType }}</div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
</div>
<div *ngIf="!items">
  <p class="mat-subheading-3">
    Não foram encontrados registros para o período.
  </p>
</div>
