<mat-tab-group selectedIndex="0">
  <mat-tab label="Lista geral">
    <app-list [items]="historyItems"></app-list>
  </mat-tab>
  <mat-tab label="Por mês">
    <app-list [items]="monthItems"></app-list>
  </mat-tab>
  <mat-tab label="Por categoria">
    <app-list [items]="categoryItems"></app-list>
  </mat-tab>
</mat-tab-group>
